.top_container{
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
}
body{
  margin: 0;
  text-align: center;
}
.heading_1{
  margin: 0;
  font-family: 'Aboreto', cursive;
  }
.top_cloud{
  position: absolute;
  right: 30px;
  top: 40px;
}
.bottom_cloud{
position: absolute;
left: 250px;
bottom: 300px;
}
/* .mountain{

}
.skills{

} */
.skill-row{
  width: 50%;
  /*margin: 5px auto 5px auto; */
  margin: 0px auto;
  text-align: center;
}
.Meno_1{
  border-radius: 180px;
  width: 30%;
}
.ye_1{
  border-radius: 180px;
  float: left;
}
.myButton {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #008ec2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.myButton:hover {
	background:linear-gradient(to bottom, #008ec2 5%, #33bdef 100%);
	background-color:#008ec2;
}
.myButton:active {
	position:relative;
	top:1px;
}
.contact-me{
  background-color: #66BFBF;
  padding:16px;
}
